/*************************Cabecera*********/

.cabecera{
    inline-size: 95%;
    overflow: visible;
    margin: 20px auto;
    text-align: center;
    background-color: black;
    color: white;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
}
/*esta regla se aplica estilos por igual a after y before tratando de imitar OOPCSS O ALGO ASI*/
.cabecera::after, .cabecera::before{
    position: absolute;
    content: "";
    display: block;
    height: 60%;
    width: 40%;
    z-index: 1;
    
}
/*ESTILOS MAS ESPECIFICOS LAS SIGUIENTES DOS REGLAS*/
.cabecera::before{
    
    right: -10px;
    bottom: -10px;
    background-image: linear-gradient(300deg, #6B992B, black);
    border-top-left-radius: 100% 100%;
    
}

.cabecera::after{
    left: -10px;
    top: -10px;
    background-image: linear-gradient(150deg, #821C99, black);
    border-bottom-right-radius: 100% 100%;
}

/*Menu de navegación*/
.menu{
    text-align: center;
    inline-size: 15%;
    
    border-radius: 10px;
    opacity: 0.9;
    position: fixed;
    margin-block-start: 6vh;
    margin-inline-start: 5%;
    left: 0px;
}

.lista{

    padding-inline-start: 0px;
}

.boton{
    background-color: black;
    color: white;    
    inline-size: 90%;
    font-size: 3rem;
    margin: 5px auto;
    border-radius: 20px;
    list-style: none;
}

.boton a{
    display: block;
    inline-size: 100%;
    text-decoration: none;
}

.boton a:hover{
    background-color: yellowgreen;
    border-radius: 20px;
}
/*Termina el menú de navegación*/


.decoracion
{   
    inline-size: 100%;
    block-size: 10vh;
    position: relative;
}

.decoracion::after
{
    content: "";
    display: block;
    border-radius: 20px;
    border-bottom-right-radius: 100% 100% ;
    background-image: linear-gradient(150deg, #821C99, black);
    inline-size: 90%;
    block-size: 10vh;

    position: absolute;

    top: -10px;
    left: -4vw;
}



/************Contenido main*******/

.contenido
{
    inline-size: 55%;
    margin-block-start: 10vh;
    margin-inline-start: 30%;

    font-family: Arial;

    border: 2px solid #821C99;
    border-radius: 20px;
    padding: 0px 3vw 20px 3vw;
    
    background-color: white;
    position: relative;
}

.menu-contenido
{
    list-style: none;
    padding-left: 0px;
}

.boton-contenido
{
    margin: 5px auto;
    background-color: #6B992B;
    padding: 5px;
    border-radius: 5px;
    list-style: none;
}


/***********************************************Footer***************************************************/

.foot
{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 1vw 0px;
    margin: 0px auto;
    margin-block-start: 10vh;
    inline-size: 95%;

    border-radius: 10px;
}