/*************************Cabecera*********/

.cabecera{
    background-color: #821C99;
    border-radius: 20px 20px;
    overflow: auto;
    text-align: center;
    background-image: linear-gradient(to bottom, #821C99 70%, #D06CE6);
}

.menu{
    
    block-size: auto;
    background-color: #6B992B;
    opacity: 0.9;
    overflow: auto;
}

.boton{
    float: left;
    list-style: none;
    inline-size: 30%;
    background-image: linear-gradient(to up, #AAE657 30%, #6B992B);
}


.caja{
    background-color: #821C99;
    block-size: 30px;
    inline-size: 50px;
    writing-mode: vertical-lr;
}