/*************************Cabecera*********/

.cabecera{
   
    border-radius: 20px 20px;
    overflow: auto;
    text-align: center;
    inline-size: 60%;
    margin-left: 500px;
    
}

.cabecera::before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-color: #821C99;
}

.cabecera::after{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-color: #AAE657;
}


.menu{
    
    block-size: auto;
    background-color: #6B992B;
    opacity: 0.9;
    overflow: auto;
}

.boton{
    float: left;
    list-style: none;
    inline-size: 30%;
    background-image: linear-gradient(to up, #AAE657 30%, #6B992B);
}


.caja{
    background-color: #821C99;
    block-size: 30px;
    inline-size: 50px;
    writing-mode: vertical-lr;
}