/*************************Cabecera*********/


body{
    padding-bottom: 1000px;
}
.cabecera{
    inline-size: 100%;
    overflow: auto;
    text-align: center;
    background-color: black;
    color: white;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
}
/*esta regla se aplica estilos por igual a after y before tratando de imitar OOPCSS O ALGO ASI*/
.cabecera::after, .cabecera::before{
    position: absolute;
    content: "";
    display: block;
    height: 60%;
    width: 40%;
    z-index: 1;
    
}
/*ESTILOS MAS ESPECICOS LAS SIGUIENTES DOS REGLAS*/
.cabecera::before{
    
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(300deg, #6B992B, black);
    border-top-left-radius: 100% 100%;
    
}

.cabecera::after{
    left: 0px;
    top: 0px;
    background-image: linear-gradient(150deg, #821C99, black);
    border-bottom-right-radius: 100% 100%;
}

/*Menu de navegación*/
.menu{
    text-align: center;
    inline-size: 20%;
    background-color: #D06CE6;
    border-radius: 10px;
    opacity: 0.9;
    position: fixed;
    margin-block-start: 10vh;
    left: 0px;
}

.lista{

    padding-inline-start: 0px;
}

.boton{
    background-color: white;    
    inline-size: 90%;
    font-size: 3rem;
    margin: 5px auto;
    border-radius: 20px;
}

.boton a{
    display: block;
    inline-size: 100%;
    text-decoration: none;
}

.boton a:hover{
    background-color: yellowgreen;
}


